insmod efinet
insmod http
insmod tftp
insmod all_video
insmod gfxterm

source /boot/grub/net_settings.cfg

# Initialize Network
net_bootp

menuentry "WallOS (UEFI Network Boot)" {
    set gfxmode=auto
    set gfxpayload=keep
    terminal_output gfxterm

    echo "Fetching WallOS via Network..."
    configfile (tftp,$server_ip)/grub/grub.cfg
}