set timeout=0
set default=0

# terminal_output console
# set gfxpayload=text

menuentry "WallOS" {
    if [ "$grub_platform" = "efi" ]; then
        # UEFI path: enable graphics
        insmod all_video
        insmod gfxterm
        set gfxmode=auto
        set gfxpayload=keep
        terminal_output gfxterm
    else
        # BIOS path: stay in VGA text mode
        terminal_output console
    fi

    multiboot2 /boot/WallOS.bin
    # module2 /boot/initrd.img "initrd"
    boot
}