/build/
/dist/
/.vscode/
/html/
/latex/
/.idea/
/Doxyfile
/.vscode/c_cpp_properties.json
/scripts/src/bochsrc.bxrc
/.idea/

/src/output/
/libs/output/
targets/x86_64/iso/boot/initrd.img
tools/wallos_netboot/boot/grub/net_settings.cfg

# This is for my lab testing PXE server
upload.sh
